
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" );

.body{
    font-family: 'Courier New', Courier, monospace;
    overflow: hidden; /* Oculta ambas barras de scroll */
    display: flex;
    align-items: center;
    justify-content: center;
    
}

  
.navbar {
    display: flex;
    background-color: #D6B2FD;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; 
  }
    
.contenedor{  

    height: 93vh; /*Seperacion entre titulo y navbar*/
    display: flex;
    justify-content: center;
    align-items: center;
    background: #D6B2FD;
}

.container2{
    background: #373737;
}


::-webkit-scrollbar { /*Ocultar barra de desplazamiento*/ 
  display: none;
}

/* Buton heroe*/ 
.cta {
    position: relative;
    margin: auto;
    padding: 10px 20px; /*Boton centrado*/
    transition: all 0.2s ease;
    border: none;
    background: none;
    cursor: pointer;
  }
  
  .cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 60px;
    background: #FEE57F;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
  }
  
  .cta span {
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #373737; /*texto*/
  }
  
  .cta svg {
    position: relative;
    top: 0;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #373737; /*Flecha*/
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
  }
  
  .cta:hover:before {
    width: 100%;
    background: #FEE57F;
  }
  
  .cta:hover svg {
    transform: translateX(0);
  }
  
  .cta:active {
    transform: scale(0.95);
  }
  



  /*payment-section*/
  .payment-section {
    background-color: #373737;
    padding: 30px 20px; /*ancho de la barra*/
    text-align: center;
}

.payment-methods img {
    max-width: 150px; /* Ajusta el tamaño según sea necesario */
    margin: 0 20px;
}


